<div class="wrapper w-screen h-screen bg-blue-950 text-white overflow-hidden">
  <div
    class="fixed w-screen h-[80px] flex items-center justify-center text-3xl font-bold z-[9999]"
  >
    Sorting Algorithms Visualize
  </div>
  <div class="pt-12 container mx-auto">
    <app-sorts></app-sorts>
    <div class="mt-6 flex items-center justify-center gap-2">
      <p>Angular Sorting Algorithms Visualize</p>
      <span>|</span>
      <a
        class="text-base font-medium underline underline-offset-2 hover:text-gray-300"
        href="https://github.com/huydu20"
        >My Github</a
      >
      <span>|</span>
      <a
        class="text-base font-medium underline underline-offset-2 hover:text-gray-300"
        href="https://www.youtube.com/channel/UCMplfZd5BxMHy3Y6OVvLblg"
        >Youtube</a
      >
      <span>|</span>
      <a
        class="text-base font-medium underline underline-offset-2 hover:text-gray-300"
        href="https://www.tiktok.com/@hijublog"
        >Tiktok</a
      >
      <span>|</span>
      <a
        class="text-base font-medium underline underline-offset-2 hover:text-gray-300"
        href="https://github.com/huydu20/angular-sorting-algorithms"
        >Source Code</a
      >
    </div>
  </div>
</div>
