.column {
  width: 10px;
  border: solid gray 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  margin-right: 2px;
  max-height: 700px;
  border-radius: 4px 4px 0 0;
}
